ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 1rem;
}

li:nth-child(4),
li:nth-child(5),
li:nth-child(12),

li:nth-child(10) {
  grid-column: span 5;
}

li:nth-child(7),
li:nth-child(8) {
  grid-row: span 8;
}

li:nth-child(1),
li:nth-child(6),
li:nth-child(9) {
  grid-row: span 7;
  grid-column: span 5;
}

body {
  background: white;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  color: black;
  font-family: Avenir, Heveltica, Arial, san-serif;
  font-weight: bold;
  font-size: 1.3rem;
}

li {
  padding: 1em;
  background: white;
}

.studioimggal{
  background-image: url('/images/6578925159_d793a50d49_o.jpg');
  /*margin: inherit;*/
  /*height: 1vh;*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.studioimg2{
  background-image: url('/images/flyingLotus-9.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.studioimg3{
  background-image: url('/images/5626150284_27146f0f67_b.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.studioimg4{
  background-image: url('/images/15258788099_f1f44b6662_k.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.studioimg5{
  background-image: url('/images/6897825309_75c89285d3_b.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.studioimg6{
  background-image: url('/images/5186048550_506c605806_b.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.studioimg7{
  background-image: url('/images/DrDre-2001.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.studioimg8{
  background-image: url('/images/Dizee_Rascal_Album_Boy_in_da_Corner.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.studioimg9{
  background-image: url('/images/Kanyewest_collegedropout.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: cover;
}
.studioimg10{
  background-image: url('/images/6b0925ff4e846da6af6fb346fb2c2c4d (1).jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.studioimg11{
  background-image: url('/images/0001115731.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.studioimg12{
  background-image: url('/images/5658504797_656daebb40_b.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.studioimg13{
  background-image: url('/images/diy-voice-recording-sound-booth-vocal-room-1-of-5.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.studioimg14{
  background-image: url('/images/5419545380_fa19b1151f_b.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.studioimg15{
  background-image: url('/images/LEAD_PHOTO_C0425_1274183166.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.studioimg16{
  background-image: url('/images/dr-dre-i-have-one-million-dollars-for-every-one-of-these-buttons.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.studioimg17{
  background-image: url('/images/CS3019864-02A-BIG.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.studioimg18{
  background-image: url('/images/R-1038746-1291743375.jpeg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.studioimg19{
  background-image: url('/images/flstudio.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
