body {
  /*font-family: 'Spectral', serif;
font-family: 'Merriweather', serif;
font-family: 'Lora', serif;
font-family: 'Crimson Text', serif;
font-family: 'Dancing Script', cursive;*/
font-family: 'Roboto', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-size: 16px;
background: #f1f1ee;
margin:inherit;
}

body, html {
    height: 100%;
}

.h2studioimg {
  position: relative;
  text-align: center;
  top: -60%;
  font-size: 4vw;
  height: 20px;
  color: white;
}

.headercontainer{
  width:100%;
  height: 50px;
  position:fixed;
  /*top:0px;*/
  background: white;
  margin: 0;
  border-bottom-style: dotted;
}

.headermenu{
  margin-top: 8px;
  margin-left: 60px;
  color: black;
  font-size: 26px;
  letter-spacing: 1px;
  font-family: 'Open Sans';
}

.studioimg{
  background-image: url('/images/6578925159_d793a50d49_o.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.darkenedbg{
  background-color: black;
}

.lightenedfont{
  color: white;
  font-size: 16px;
  font-family: 'Open Sans';
}

/* Gradient transparent - color - transparent */

hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.heading{
  /*position: sticky;*/
	/*top: 84px;*/
	background-color: white;
	color: black;
	/*display: flex;*/
	align-items: center;
	min-height: 20px;
	/*padding: 0 11px;*/
	font-size: 36px;
  /*margin-left: 5px;*/
}

.h5stuff{
  font-family: Noto Sans;
  font-size: 12px;
}




.studioimggal{
  background-image: url('/images/6578925159_d793a50d49_o.jpg');
  /*margin: inherit;*/
  /*height: 1vh;*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.studioimg2{
  background-image: url('/images/flyingLotus-9.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.studioimg3{
  background-image: url('/images/5626150284_27146f0f67_b.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.studioimg4{
  background-image: url('/images/15258788099_f1f44b6662_k.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.studioimg5{
  background-image: url('/images/6897825309_75c89285d3_b.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.studioimg6{
  background-image: url('/images/5186048550_506c605806_b.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.studioimg7{
  background-image: url('/images/DrDre-2001.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.studioimg8{
  background-image: url('/images/Dizee_Rascal_Album_Boy_in_da_Corner.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.studioimg9{
  background-image: url('/images/Kanyewest_collegedropout.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: cover;
}
.studioimg10{
  background-image: url('/images/6b0925ff4e846da6af6fb346fb2c2c4d (1).jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.studioimg11{
  background-image: url('/images/0001115731.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.studioimg12{
  background-image: url('/images/5658504797_656daebb40_b.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.studioimg13{
  background-image: url('/images/diy-voice-recording-sound-booth-vocal-room-1-of-5.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.studioimg14{
  background-image: url('/images/5419545380_fa19b1151f_b.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.studioimg15{
  background-image: url('/images/LEAD_PHOTO_C0425_1274183166.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.studioimg16{

  background-image: url('/images/dr-dre-i-have-one-million-dollars-for-every-one-of-these-buttons.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.studioimg17{

  background-image: url('/images/CS3019864-02A-BIG.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.studioimg18{
  background-image: url('/images/R-1038746-1291743375.jpeg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.studioimg19{
  background-image: url('/images/flstudio.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.key{
  border: 2px solid white;
  border-radius: 5px;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all 0.17s;
  width: 100px;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 2px white;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 10px #ffc600;
}


.morepadding {
padding: 2px;
}

.MPCLabel{
  font-size: 12px;
}

.headerlogo {
  height: 30px
}
